doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='public/stylesheets/style.css')
    body(style="background-color:gray; font-family:Times New Roman; font-style:bold; font-size:20px")
      .container(style= "text-align:center; background-color: lightgrey; border-radius: 30px; width: 600px; padding: 10px;margin: 25px; width:95%;")
        h1= title
        br
        form(method='post', action='/')
          label(for='length') Password Length:
          select#length.form-control(name='length')
            if length
              option= length
            each val in [6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,51,52,53,54,55,56,57,58,59,60,61,61,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100]
              option= val
          br
          .checkbox
            label
              |Include Symbols?     
              input#symbols(type='checkbox', name='symbols', value='true' checked=sym)
              |( e.g. @#$% )
          .checkbox
            label
              |Include Numbers? 
              input#numbers(type='checkbox', name='numbers', value='true' checked=num)
              |( e.g. 123456 )
          .checkbox
            label
              |Include Lowercase Characters? 
              input#lowerCase(type='checkbox', name='lowerCase', value='true' checked=low)
              | ( e.g. abcdefgh )
          .checkbox
            label
              |Include Uppercase Characters? 
              input#upperCase(type='checkbox', name='upperCase', value='true' checked=upp)
              | ( e.g. ABCDEFGH )
          .checkbox
            label
              |Exclude Similar Characters? 
              input#similar(type='checkbox', name='similar', value='true' checked=sim)
              | ( e.g. i, l, 1, L, o, 0, O )
          .checkbox
            label
              |Exclude Ambiguous Characters?  
              input#ambiguous(type='checkbox', name='ambiguous' value='true' checked=amb)
              | ( { } [ ] ( ) / \ ' " ` ~ , ; : . < > )
          br
          input.btn.btn-default(type='submit' value="GENERATE PASSWORD" style= "background-color: blue; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;")
          br
          br
          label(for='password') You New Password:
          input#txtPassword.form-control(type='text', name='txtPassword' style='width:90%' value=pass )
          br
          label(for='remember') Remember Password:
          input#remember.form-control(type='text', name='remember' style='width:90%' value=rem)